@media (max-width: 768px) {
  .courses-cards {
      width: 100%; /* Make it full width on smaller screens */
      padding: 5px; /* Reduce padding */
  }

  .card {
      width: 100%; /* Make cards full width */
      z-index: 10;
  }
}
.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02); /* Slightly scale up */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.courses-cards {
  background: #f5f5f5;
  width: 1000px;
  margin-left: 10px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header h5 {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 0px;
  font-weight: bold;
}

.navigation-buttons button {
  margin-left: 5px;
  border: 1px solid gray;
  height: 25px;
  width: 25px;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.courses-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 18.7rem;
  height: 270px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category {
  background-color: #d898d8;
  width: 100px;
  height: 13px;
  color: blue;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  font-size: 0.6rem;
}

.course-title {
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 4px;
  overflow: hidden;
  margin: 0;
}

.progress-bar-fill {
  height: 100%;
  background-color: #007bff;
}

.instructor {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 5px;
}

.instructor img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0;
}

.instructor h6 {
  margin: 0;
  font-size: 11px;
}

.instructor p {
  margin: 0;
  font-size: 9px;
}
