.dashboard-container{
  background-color: #ebebeb;
}
.icon {
  font-size: 2rem;
  margin-bottom: 10px;
} 
.overview{
  display: flex;
  gap: 20px;
}
.cards{
  width: 80%;
}
.heading{
  margin: 20px;
}

.card-data{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.overview-card{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.overview-card h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.overview-card p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.overview-card small {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #6c757d;
}
.card-line{
  margin-top: 20px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.sales-data{
  width: 20%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.states-progress {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}
.analysis-1{
  display: flex;
  gap: 20px;
}
.left{
  display: grid ;
  width: 50% ;
  gap: 20px;
}
.row-1{
  display: flex;
  gap: 20px;
}
.row-2{
  display: flex;
  gap: 20px;
}
.small-card{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}
.right{
  width: 50%;
  height: 350px;
}
.large-card{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 350px;
}
.analysis-2{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.social-card{
  
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
  width: 33%;
  height: 400px;
}
.users{
  display: flex;
  gap: 20px;
}
.user-card{
  width: 25%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
  height: 150px;
}
.google,.edge,.duck-duck-go,.bing,.yahoo{
  display: flex;
}
.social_logo{
  width: 40px;
  margin: 10px;
  margin-right: 20px;
}
.social-title h3{
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
.social-percentage{
  margin-top: 12px;
  font-size: 110%;
  text-align: right;
  position: absolute;
  right: 550px;
}
