/* General page styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make sure it fills the remaining width */
  height: 100vh; /* Full height */
  background-color: white; /* Set to white to match the rest of the layout */
}



  /* Form styling */
  .login-form {
    padding: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password {
    font-size: 12px;
    color: #6c757d;
    text-align: right;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    color: #007bff;
  }
  
  .login-divider {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 20px 0;
  }
  
  .login-divider span {
    flex-grow: 1;
    height: 1px;
    background-color: #ced4da;
    position: relative;
  }
  
  .login-divider span::after {
    content: "or";
    position: absolute;
    top: -10px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    color: #6c757d;
  }
  
  .social-login {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .google-login, .apple-login {
    padding: 10px;
    color: black;
    border: 1px solid #ced4da;
    background-color: rgb(171, 171, 171);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  
  .google-login {
    background-color: #f4f4f4;
  }
  
  .google-login:hover, .apple-login:hover {
    background-color: #e2e2e2;
  }
  
  .apple-login {
    background-color: black;
    color: white;
  }
  
  .email-login {
    margin-top: 20px;
    font-size: 12px;
    color: #6c757d;
    text-decoration: none;
  }
  
  .email-login:hover {
    color: #007bff;
  }
  